table{
  border: solid pink 2px;
  color: pink;
  /* padding: 5px; */
}

table tr th{
  border: solid green 2px;
  width: 400px;
  color: red;
  text-align: left;
}

table tr td{
  border: solid blue 2px;
  color: purple;
}