.title {
  height: 6vh;
  background-color: #8eb1d8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
}

.top {
  height: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.top-container {
  width: 95vw;
}

.top-table {
  width: 100%;
}

.speeds {
  width: 100%;
}

.row {
  height: 6vh;
  width: 10vw;
}

.input-name {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 11vw;
  width: 100%;
}

.input-name p {
  font-family: "Gill Sans", sans-serif;

  margin: 0;
  padding: 0;
}

.input-slider {
  width: 95vw;
  display: flex;
}

.bigger-input {
  width: 85%;
}

.bottom {
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
}

table {
  border-radius: 3px;
  width: 80vw;
}

table tr th {
  background-color: #8eb1d8;
  width: 400px;
  text-align: center;
}

table tr td {
  color: black;
  text-align: center;
}

.slidecontainer {
  width: 100%;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 255px;
  height: 200px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #326ca6;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #326ca6;
  cursor: pointer;
}


@media(max-width: 600px){
  .title{
    display: none;
  }

  .top{
    padding-bottom: 0px;
  }

  .slider{
    height: 4px;
  }


}
